body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.container {
    width: 80%;
    max-width: 600px; 
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #ccc;
    background-color: transparent;
    color: #000;
    flex-shrink: 0;
}

.circle-1 {
    border-color: #d74e26;
}

.circle-7 {
    border-color: #5f60ff;
}

.circle-10 {
    border-color: #2bc275;
}

.arrow-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100px;
}

.arrow {
    font-size: 20px;
}

.text-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 12px;
    width: 100px;
}

.message-container {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}
